
# Humanity-the brith of civillzation, its arrogance and prejudice, its fall, and its awakening once again.
------

## MOON: SELF-AWARENESS

## STAR: 

## MERCURY:

## VENUS:

## EARTH:

## MARS:

## JUPITER:

## SATURN:

## URANUS:

## NEPTUNE:

## PLUTO:






