# Humanity-the brith of civillzation, its arrogance, its fall, and its awakening once again.

## MOON: 

## STAR:

## MERCURY:

## VENUS:

## EARTH:

## MARS:

## JUPITER:

## SATURN:

## URANUS:

## NEPTUNE:

## PLUTO:



