# Humanity-the brith of civillzation, its arrogance, its fall, and its awakening once again.




